{% extends 'fablab/base.html' %}
	
	{% block title %}<title>Card inscription</title>{% endblock title%}
	{% block context %}
	
		{% load static %}

		<div class="page-title" style="background-image: url({% static 'fablab/images/background05.jpg' %});">
			<div class="inner">
				<h2>New Card</h2>
			</div> <!-- end .inner -->
		</div> <!-- end .page-title -->

		<div class="section boxed-section light">
			<div class="inner">
				<div class="container">
					<div class="box">
					
							<!--form class="form-horizontal"-->
								<h3 class="text-center">Card Inscription</h3>
								
								<div class="form-group">
									<div class="col-sm-5"></div>
									<div class="col-sm-7">
										
										<form action="/fablab/register-card/" method="POST">
											{% csrf_token %}
											{{ form }}
											<input class="button" type="submit" value="Submit" />
										</form>
										
									</div>	
								</div>
								
						<div class="table-responsive"><table class="table cart-items light-inputs">
							<thead>
								<tr>
									<th>Card List</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
									  	<a href="#0">1234</a>
									</td>
								</tr>
								<tr>
									<td>
										<a href="#0">4567</a>
									</td>
								</tr>
							</tbody>
						</table></div>
						<!--/form-->
					</div> <!-- end .box -->
				</div> <!-- end .container -->
			</div> <!-- end .inner -->
		</div> <!-- end .section -->

	{% endblock context %}
