{% extends 'fablab/base.html' %}

	{% block title %}<title>List of users</title>{% endblock title%}
	{% block context %}
	
		{% load static %}

		<div class="page-title" style="background-image: url({% static 'fablab/images/background16.jpg' %});">
			<div class="inner">
				<h2>Manage users</h2>
				<a href="/fablab/new-user" class="button">+ Add a New User</a>
			</div> <!-- end .inner -->
		</div> <!-- end .page-title -->

		<div class="section boxed-section light">
			<div class="inner">
				<div class="container">
					<div class="box transparent">
						<div class="row">
							
								<div class="row products">
									
									{% if user_list %}
										<ul>
										{% for user in user_list %}
										
											<div class="col-sm-4">
												<div class="product">
													<img src="{% static 'fablab/images/product07.jpg' %}" alt="image" class="img-responsive">
													<div class="overlay"></div>
													<div class="content">
														<h3><a href="/fablab/users/{{ user }}/">{{ user }}</a></h3>
													</div> <!-- end .content -->
													<a href="/fablab/users/{{ user }}/" class="button">Details</a>
												</div> <!-- end .product -->
											</div> <!-- end .col-sm-4 -->
									
										{% endfor %}
										</ul>
									{% else %}
										<p>No users are available.</p>
									{% endif %}
									
									
								</div> <!-- end .row -->
						</div> <!-- end .row -->
						<div class="text-center">
							<a href="" id="products-load-more" class="button">Load More</a>
						</div> <!-- end .blog-load-more -->
					</div> <!-- end .box -->
				</div> <!-- end .container -->
			</div> <!-- end .inner -->
		</div> <!-- end .section -->

	{% endblock context %}
